{% extends 'layout.twig' %}

{% block content %}
    {#<h1>{{ title }}</h1>#}
    {#<p>{{ content }}</p>#}
    <h1>{{ title }}</h1>
    <form action="{{ action }}" method="POST" enctype="multipart/form-data" >
        <h3><b>здесь можно дополнить данные о себе</b><br></h3>

        <input type="text" name="name" placeholder="Имя" class="inputForm"><Br>
        <input type="number" name="age" placeholder="возраст" class="inputForm"><Br>

        <textarea name="description" placeholder="описание" class="inputForm"> </textarea><Br>
        {{ error  }}<br>
        <input type="file" name="image" placeholder="картинка" class="inputForm"><Br>
        <input type="submit" name="отправить">
    </form><br>
    <a href="../gallery">перейти в галерею</a>
{% endblock %}